*.vcxproj.user
*.sdf
*.v12.suo
*.ilk
*.pdb
*.udf
*.opensdf
bin
ipch

Server.exe
CMakeCache.txt
/Server/Makefile
/Server/CMakeFiles
/Server/cmake_install.cmake
/Server/Server/Debug
/Server/Server/Server
/Server/Server/Data/config.ini
/Server/Server/Data/log.txt

/Client/proj.win32/Release.win32
/Client/proj.android/assets
/Client/proj.android/gen
/Client/proj.android/libs
/Client/proj.android/obj
/Client/Client.udf
.skin_PList.Dir
Debug.win32
Release.win32
