<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
        <key>option_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{970, 480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{970, 480}</string>
            </dict>
            <key>separator.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{275, 12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{275, 12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin.png</string>
			<key>textureFileName</key>
            <string>skin.png</string>
        </dict>
    </dict>
</plist>
